<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.cs.c301f12t01"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <application
        android:name=".gui.TaskSourceApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".gui.TaskListActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.TaskDetailActivity"
            android:label="@string/title_task_detail"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.TaskListActivity" />
        </activity>
        <activity
            android:name=".gui.DefineTaskActivity"
            android:label="@string/title_activity_define_task" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.c301f12t01.gui.TaskListActivity" />
        </activity>
        <activity
            android:name=".gui.FulfillTaskActivity"
            android:label="@string/title_activity_fulfill_task"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.c301f12t01.gui.TaskListActivity" />
        </activity>
        <activity
            android:name=".gui.ReportListActivity"
            android:label="@string/title_activity_report_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.c301f12t01.gui.TaskListActivity" />
        </activity>
    </application>

</manifest>